# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store filepath in a variable
csv_path = "../WeatherPy/cities.csv"
cities_df = pd.read_csv(csv_path)
cities_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Barrow,71.29,-156.79,24.80,92,75,6.93,US,10/20/2020
1,1,Vila,42.03,-8.16,55.00,94,100,3.96,PT,10/20/2020
2,2,Cape Town,-33.93,18.42,60.01,67,0,13.87,ZA,10/20/2020
3,3,Katsuura,35.13,140.30,60.80,77,20,13.87,JP,10/20/2020
4,4,Jamestown,42.10,-79.24,50.00,100,90,6.93,US,10/20/2020

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
# Configure gmaps with API key
gmaps.configure(api_key = g_key)

# Store "Lat" and "Lng" into  locations 
locations = cities_df[["Lat", "Lng"]].astype(float)

# Store "Humidity" in humidity
humidity = cities_df["Humidity"].astype(float)

In [13]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer and add it to the map
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating = False, max_intensity = 100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.

reduced_city_df = cities_df.loc[(cities_df["Wind Speed"] < 10) & (cities_df["Cloudiness"] == 0) & \
                                   (cities_df["Max Temp"] > 70) & (cities_df["Max Temp"] < 80)].dropna()

reduced_city_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
43,43,Sakakah,29.97,40.21,75.20,12,0,5.82,SA,10/20/2020
64,64,Beloha,-25.17,45.05,70.79,69,0,5.26,MG,10/20/2020
134,134,Pemba,-12.97,40.52,78.39,75,0,7.23,MZ,10/20/2020
143,143,Mumbwa,-14.98,27.06,76.95,18,0,5.46,ZM,10/20/2020
175,175,Kiryat Gat,31.61,34.76,79.00,100,0,6.49,IL,10/20/2020
212,212,Illapel,-31.63,-71.17,77.23,28,0,9.66,CL,10/20/2020
231,231,Buraidah,26.33,43.98,71.60,28,0,5.97,SA,10/20/2020
377,377,Jalu,29.03,21.55,76.60,47,0,8.81,LY,10/20/2020
460,460,Hīt,33.64,42.83,78.39,25,0,9.62,IQ,10/20/2020
464,464,Bandarbeyla,9.49,50.81,79.65,72,0,3.67,SO,10/20/2020
492,492,Sur,22.57,59.53,74.41,58,0,4.05,OM,10/20/2020
514,514,Boueni,-12.90,45.08,78.80,78,0,5.82,YT,10/20/2020
526,526,Jamūī,24.92,86.22,77.41,56,0,1.54,IN,10/20/2020
581,581,Erdemli,36.60,34.31,73.51,67,0,3.09,TR,10/20/2020

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [30]:
# Create a hotel dataframe
hotel_df = reduced_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

hotel_df

            City Country    Lat    Lng Hotel Name
43       Sakakah      SA  29.97  40.21
64        Beloha      MG -25.17  45.05
134        Pemba      MZ -12.97  40.52
143       Mumbwa      ZM -14.98  27.06
175   Kiryat Gat      IL  31.61  34.76
212      Illapel      CL -31.63 -71.17
231     Buraidah      SA  26.33  43.98
377         Jalu      LY  29.03  21.55
460          Hīt      IQ  33.64  42.83
464  Bandarbeyla      SO   9.49  50.81
492          Sur      OM  22.57  59.53
514       Boueni      YT -12.90  45.08
526        Jamūī      IN  24.92  86.22
581      Erdemli      TR  36.60  34.31

In [32]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Set parameters
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    # Get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # Add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # URL and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # Extract results
    results = response['results']
    
    # Save the hotel name to dataframe
    try:
        print(f"Nearest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # If no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

print("-------End of Search-------")

Retrieving Results for Index 43: Sakakah.
Nearest hotel in Sakakah is Raoum Inn Hotel.
------------
Retrieving Results for Index 64: Beloha.
Missing field/result... skipping.
------------
Retrieving Results for Index 134: Pemba.
Nearest hotel in Pemba is The Nautilus Hotel.
------------
Retrieving Results for Index 143: Mumbwa.
Nearest hotel in Mumbwa is Madalitso Guest House.
------------
Retrieving Results for Index 175: Kiryat Gat.
Nearest hotel in Kiryat Gat is Desert Gat.
------------
Retrieving Results for Index 212: Illapel.
Nearest hotel in Illapel is Hotel Londres.
------------
Retrieving Results for Index 231: Buraidah.
Nearest hotel in Buraidah is فندق براند القصيم.
------------
Retrieving Results for Index 377: Jalu.
Nearest hotel in Jalu is Jalu Hotel.
------------
Retrieving Results for Index 460: Hīt.
Missing field/result... skipping.
------------
Retrieving Results for Index 464: Bandarbeyla.
Nearest hotel in Bandarbeyla is Super secret pirate cove.
------------
Retrieving Results for Index 492: Sur.
Nearest hotel in Sur is Sur Plaza Hotel.
------------
Retrieving Results for Index 514: Boueni.
Nearest hotel in Boueni is LE CHISSIOUA.
------------
Retrieving Results for Index 526: Jamūī.
Nearest hotel in Jamūī is Genx Brij, Jamui, Bihar.
------------
Retrieving Results for Index 581: Erdemli.
Missing field/result... skipping.
------------
-------End of Search-------

In [33]:
hotel_df

            City Country    Lat    Lng                Hotel Name
43       Sakakah      SA  29.97  40.21           Raoum Inn Hotel
64        Beloha      MG -25.17  45.05
134        Pemba      MZ -12.97  40.52        The Nautilus Hotel
143       Mumbwa      ZM -14.98  27.06     Madalitso Guest House
175   Kiryat Gat      IL  31.61  34.76                Desert Gat
212      Illapel      CL -31.63 -71.17             Hotel Londres
231     Buraidah      SA  26.33  43.98         فندق براند القصيم
377         Jalu      LY  29.03  21.55                Jalu Hotel
460          Hīt      IQ  33.64  42.83
464  Bandarbeyla      SO   9.49  50.81  Super secret pirate cove
492          Sur      OM  22.57  59.53           Sur Plaza Hotel
514       Boueni      YT -12.90  45.08              LE CHISSIOUA
526        Jamūī      IN  24.92  86.22   Genx Brij, Jamui, Bihar
581      Erdemli      TR  36.60  34.31

In [35]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [36]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))